.bell-schedule {
  padding: 8px;
  min-width: 300px;
  width: fit-content;
  grid-area: schedule;
  justify-self: end;
}

@media (max-width: 840px) {
  .bell-schedule {
    margin: 0 auto;
  }
}

.center {
  text-align: center;
}

.card-padding {
  padding: 24px;
}

.bell-schedule-name {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.bell-schedule-current {
  background-color: #ffc107;
}
