.bell-schedule {
  /*padding: 8px;*/
  /*min-width: 300px;*/
  /*width: 100%;*/
  grid-area: schedule;
}

.center {
  text-align: center;
}

.card-padding {
  padding: 24px;
}

.bell-schedule-name {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.bell-schedule-current {
  background-color: #ffc107;
}
