.bell-schedule {
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
  min-width: 300px;
}

.center {
  text-align: center;
}

.bell-schedule-empty {
  padding: 24px;
}

.bell-schedule-loading {
  padding: 24px;
}

.bell-schedule-name {
  padding-top: 24px;
  text-align: center;
}
