.calendar {
  /*width: 100%;*/
  /*padding: 8px;*/
  max-width: 500px;
  width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  grid-area: calendar;
  height: 100%;
  justify-self: start;
}

@media (max-width: 840px) {
  .calendar {
    justify-self: center;
    width: 100%;
  }
}

.center {
  text-align: center;
}

.card-padding {
  padding: 24px;
}

.calendar-name {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

.calendar-desc {
  white-space: pre-wrap;
}

.calendar-form {
  width: 100%;
}

.calendar-select {
  margin: 12px auto 0;
}
