.about {
  margin: 0 auto;
  min-width: 400px;
  width: fit-content;
}

.about-card {
  margin: 16px;
}

.about-header-no-body {
  padding-bottom: 8px !important;
}

.about-content {
  padding-top: 0 !important;
  padding-bottom: 8px !important;
}

.about-content-no-body {
  padding-bottom: 0 !important;
}

.about-avatar {
  background-color: #2196f3 !important;
}

.about-title {
  margin-bottom: 16px !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.about-subtitle {
  margin-bottom: 12px !important;
  color: rgba(0, 0, 0, 0.54) !important;
}

.about-subtitle-no-body {
  margin-bottom: 0 !important;
}

@media (max-width: 600px) {
  .about {
    width: 100%;
    min-width: unset;
  }
  .about-card {
    margin: 8px;
  }
}
