.date-picker {
  padding: 8px 0;
  margin: 0 auto;
  width: fit-content;
  grid-area: picker;
}

.date-picker-iconbtn {
  vertical-align: middle;
}

.DateInput {
  font-weight: 500;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important;
  background: none;
  width: 200px;
}

.SingleDatePickerInput {
  border: none;
}

.DateInput__display-text {
  color: #448aff;
  text-align: center;
  border: 2px solid rgba(68, 138, 255, 0.5);
  border-radius: 2px;
}

.DateInput--with-caret::before,
.DateInput--with-caret::after {
  left: 64px !important;
}

/*
Disable iOS focus zoom:
https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
*/
input[type='text'] {
  font-size: 18px;
}
