.date-picker {
  padding: 8px 8px 0 8px;
  margin: 0 auto;
  width: fit-content;
}

.date-picker-caret {
  vertical-align: middle;
}

.DateInput {
  font-weight: 500;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

.SingleDatePickerInput {
  border: none;
}

.DateInput--with-caret::before,
.DateInput--with-caret::after {
  left: 64px !important;
}

/*
Disable iOS focus zoom:
https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
*/
input[type="text"] {
  font-size: 18px;
}
