.map {
  vertical-align: bottom;
  height: auto;
}

.map-container {
  overflow: auto;
  width: 100%;
  position: relative;
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.search-results {
  padding: 8px;
  margin: 0 auto;
  min-width: 300px;
  width: fit-content;
  max-width: 600px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.search-field {
  margin: 0 auto;
  width: fit-content;
  padding: 16px;
}

.search-result-keywords {
  white-space: pre-wrap;
}
