.schedule-page {
  width: 98%;
  max-width: 960px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'covidlinks covidlinks' 'picker picker'
    'schedule calendar' 'weather calendar' 'disclaimer disclaimer';
  margin: 1%;
}

/* mobile */
@media (max-width: 840px) {
  .schedule-page {
    max-width: 92%;
    /*margin: 4%;*/
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-areas: 'covidlinks' 'picker' 'schedule' 'weather' 'calendar'
      'disclaimer';
  }

  .schedule-page .weather {
    justify-self: center;
  }
}
