.schedule-page {
  flex: 1;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'picker picker'
    'schedule calendar'
    'disclaimer disclaimer';
}

@media (max-width: 840px) {
  .schedule-page {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      'picker'
      'schedule'
      'calendar'
      'disclaimer';
  }
}
