.App {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  background: #ffac07;
  z-index: 1;
}

/*experimental dark mode*/
/*@media (prefers-color-scheme: dark) {*/
/*  .menu-bar {*/
/*    background: #ffc86a;*/
/*  }*/

/*  #content {*/
/*    color: white;*/
/*  }*/

/*  #root {*/
/*    background: #393939;*/
/*  }*/
/*}*/

.school-logo {
  width: 24px;
  height: 24px;
  padding-right: 16px;
}

#content {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
