.App {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.menu-bar {
  background: #ffc107;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px #a8a9ad;
  z-index: 1;
}

.school-logo {
  width: 24px;
  height: 24px;
  padding-right: 16px;
}

#content {
  width: 100%;
  overflow-x: scroll;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
