.App {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.school-logo {
  width: 24px;
  height: 24px;
  padding-right: 16px;
}

#content {
  width: 100vw;
  overflow-x: scroll;
}
