html {
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  width: 100%;
  height: 100%;
}

#root > div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
