html {
  width: 100%;
  height: 100%;
  position: fixed;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  overflow-y: hidden;
  position: fixed;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  width: 100%;
  height: 100%;
}
